body {
	
	
	margin: 0;
	
	padding: 0;
	
background: url(dlh.gif);
	
	background-size: cover;
	background-position:center;
	font-family:sans-serif;
	
}.loginbox{
	
	width: 320px;
	height:420px;
	background #000;
	
    
	
	color: #fff;
	
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	
	
	
	
}


.avatar {
	
	width: 100px;
	
	height: 100px;
	
	border-radius: 50%;
	
	
	position: absolute;
	
	top: -50%px;
	left: calc(50% - 50%px);
	
	h1{
		
		magrin: 0;
		padding: 0 0 20px;
		text-align: center;
		font-size: 22px;
	}
	
	
	.loginbox
	
	
	p{
		magrin: 0;
		padding: 0;
		font-weight: blod;
	}
		
	.loginbox input{
		
		width:	100%;
	margin-bottom:20 px;
	}

	.loginbox input[type="text"],[type="password"]
	
	{
		
	border:none;
border-bottom: 1px sloid #fff;
background: transparent;
outline: none;
height: 40px;
		
		
	}
	
	.loginbox input[type"submit"]
	broder:none;
	oultline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	
	font-size: 18px;
	
	
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
	
	

	
	
	
	



