.ff{
	
	width: 500px;
	
	height: 100px;
	
	border-radius: 50%;
	
	
	position: absolute;
	
	top: -50%px;
	left: calc(50% - 50%px);
	
}
	ff{
		display: inline-block;
		padding: 10px 35;
		height: 30px;
		line-height: 30px;
		color: #FAFAFA;
		text-direction: none;
		background-color:#000000;
	}