body {
	
	
	margin: 0;
	
	padding: 0;
	
background: url(duellinks.jpg);
	
	background-size: cover;
	background-position:center;
	font-family:sans-serif;
	
}

	
.contact
	
	
	margin: 0;
	
	padding: 0;
	
background_color: #FFFF00   ;
	
	background-size: cover;
	background-position:center;
	font-family:sans-serif;
	
	}
	
	
}